.welcome-text {
  text-align: center;
  padding: 2em;
  color: #605a52;
}

.welcome-text h2 {
  font-size: 3.5em;
  font-family: "Satisfy", cursive;
  margin-bottom: 1em;
}

.welcome-text h2 span {
  color: #ffb70f;
}

.welcome-text p {
  font-size: 1.25em;
}

.welcome-text .button-read-more {
  background: #c15e07;
  color: #fff;
  width: 20vw;
  cursor: pointer;
}

.welcome-text .button-read-more {
  min-height: 2em;
  padding: .5em;
  font-size: 1em;
  border-radius: 5px;
  margin: 1.5em auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-about-us {
  display: flex;
  flex-wrap: wrap;
  min-height: 60vh;
}

.section-about-us h4 {
  text-transform: uppercase;
  text-align: center;
  padding: 0.5em;
  font-size: 1.5em;
}

.section-about-us h4:hover {
  text-decoration: underline;
}

.section-about-us .about-us {
  font-size: 1.25em;
  width: auto;
  text-align: center;
  padding: 2em;
}

@media (max-width: 768px) {
  .section-about-us .about-us {
    font-size: 1.25em;
    width: 100%;
    min-height: 40vh;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .section-about-us .about-us {
    min-height: 70vh;
  }
}

.section-about-us .about-us:first-of-type {
  background: #202020;
  color: #d8d8d6;
}

.section-about-us .about-us:first-of-type a {
  color: #ffb70f;
}

.section-about-us .about-us:nth-of-type(2) {
  background: #279978;
  color: #fff;
}

.section-about-us .about-us:nth-of-type(2) a {
  color: #000;
}

.section-about-us .about-us:nth-of-type(4) {
  background: #c15e07;
  color: #fff;
}

.section-about-us .about-us:nth-of-type(4) a {
  color: #000;
}

.section-about-us .read-more {
  margin: 1em 0;
  text-align: right;
  font-size: 1em;
}

.section-about-us .read-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.about-us_recipes {
  overflow: hidden;
  background: url(img/ingrediets_photo.jpg);
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-us_recipes .about-us_photo {
  height: 100%;
  margin-bottom: 2em;
  transition: all 1s;
}

.about-us_recipes:hover .about-us_photo {
  margin-bottom: -10.5em;
}

@media (max-width: 640px) {
  .about-us_recipes:hover .about-us_photo {
    margin-bottom: -11.5em;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .about-us_recipes:hover .about-us_photo {
    margin-bottom: -8em;
  }
}

.about-us_recipes .about-us_recipes-info {
  width: 100%;
  height: 100%;
  border-top: 5px solid #c15e07;
  background: #000;
  opacity: 0.8;
}

.about-us_recipes .about-us_recipes-info a {
  color: #ffb70f;
}

.about-us_recipes .about-us_recipes-info p {
  color: #fff;
}
